<br>
<div class="counter">
    <div class="container">
        <div class="row" id="dash">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div>
                    <p class="counter-count"><%= @product_count %></p>
                    <p>Products</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div>
                    <p class="counter-count"><%= @category_count %></p>
                    <p>Categories</p>
                </div>
            </div>

            
        </div>
    </div>
</div>

<%= link_to "Product Admin List", admin_products_url %>